---
---

<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div class="max-w-3xl mx-auto text-center p-6 rounded-md">
        <h2
          class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
        >
          <span class="text-accent">Astro</span> +{" "}
          <br class="block sm:hidden" />
          <span class="text-secondary sm:whitespace-nowrap"> Pocketbase</span>
        </h2>
        <p class="text-xl">
          Come and join us on our journey to build the best open source chat app
          <br class="hidden md:inline" />
          with the latest technologies.
        </p>

        <div class="mt-6">
          <a
            class="btn btn-primary mb-4 sm:mb-0 w-full sm:w-auto"
            href={"/login"}
            rel="noopener prefecth"
          >
            Get started
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
