---
import Logo from "./Logo.astro";
---

<div class="sticky top-0 z-40 navbar md:px-5 transition-all">
  <div class="navbar-start">
    <a class="" href={"/"} rel="prefecth">
      <Logo />
    </a>
  </div>
  <div class="navbar-end">
    <a
      href={"/login"}
      aria-label="login"
      class="ml-3 btn btn-primary h-10 px-5 shadow-none text-base"
      rel="prefetch"
    >
      Login
    </a>
  </div>
</div>
