---
import LayoutVoid from "../layouts/LayoutVoid.astro";
export const prerender = true;
---

<LayoutVoid title="Astrocket">

<main class="h-screen w-full flex flex-col justify-center items-center bg-base-100">
    <h1 class="text-9xl font-extrabold text-white tracking-widest">404</h1>
    <div class="bg-error px-2 text-sm rounded rotate-12 absolute">
        Page Not Found
    </div>
    <button class="mt-5">
        <a href="/" data-astro-prefetch="hover"
                class="relative inline-block text-sm font-medium text-error focus:outline-none group active:text-error/50  focus:ring"
        >
        <span
                class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-error/50 group-hover:translate-y-0 group-hover:translate-x-0"
        ></span>

            <span class="relative block px-8 py-3 bg-base-100 border border-current">
          <span >Go Home</span>
        </span>
        </a>
    </button>
</main>
</LayoutVoid>